name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Clean and Build
      run: ./gradlew clean build --no-daemon

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ModereX
        path: app/build/libs/ModereX-*.jar
